.title {
  font-size: 36px;
}
.App {
  display: flex;
}
.icon {
  color: #3147ff;
  transform: scale(1.5);
}
.icon:hover {
  color: black;
}
.otherSections {
  padding-left: 95px;
}
.btn {
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #3147ff;
  color: white;
  cursor: pointer;
  border: none;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 160px;
}
.btn:hover {
  background-color: black;
}

@media screen and (max-width: 320px) {
  .App {
    flex-direction: column;
  }
  .otherSections {
    padding-left: 0px;
  }
  .title {
    font-size: 30px;
  }
}
